{% for comment in crimeSceneComments %}
    {% if loop.index is even %}
        {% set side = 'left' %}
    {% else %}
        {% set side = 'right' %}
    {% endif %}
    <div class="commentContainer">
        <p class="message-{{side}}">{{comment.message}}</p>
        <br>
        <span class="author-{{side}}">{{comment.name}}</span>
        <span class="time-{{side}}">{{comment.date}}</span>
    </div>
{% endfor %}

