
<section>
        <h1> {{crimeScene.title}} </h1>
    <div>
        <h1> Auteur: {{crimeScene.name}} </h1>
    </div>

    <div>
        <h1> Date : {{crimeScene.date}} </h1>
    </div>
    
    <div>
        <h1>Adresse : {{crimeScene.adress}} </h1>
    </div>

    <div>
        <h1>Victime : {{crimeScene.victim}} </h1>
    </div>
    
    <div>
        <h1> Description du meurtre : {{crimeScene.description}} </h1>
    </div>

    <a href="/">Retour à l'accueil</a>
</section>