
<section>
        <h1> {{crimeScene.title}} </h1>
    <div>
        <h2> Auteur : {{crimeScene.name}} </h2>
    </div>

    <div>
        <h2> Date : {{crimeScene.date}} </h2>
    </div>
    
    <div>
        <h2>Adresse : {{crimeScene.adress}} </h2>
    </div>

    <div>
        <h2>Victime : {{crimeScene.victim}} </h2>
    </div>
    
    <div>
        <h2> Description du meurtre : </h2>
        <p> {{crimeScene.description}} </p>
    </div>

    <a href="/">Retour à l'accueil</a>
</section>
