
<section class= "displayCrimeScene">
        <h1 class= "crimeSceneTitle"> {{crimeScene.title}} </h1>

    <div>
        <p class="adresse"> <span class="adresseTitle"> L'adresse de la scéne  : </span><br> {{crimeScene.adress}} </p>
    </div>

    <div>
        <p class="victime"> <span class="victimeTitle">La victime est :</span><br> {{crimeScene.victim}} </p>
    </div>
    
    <div class = "descritioncontainer">
        <p class="descrition"> {{crimeScene.description}} </p>
    </div>
    <div>
        <p class="auteur"> <span class="auteurTitle"> Auteur :</span> {{crimeScene.name}} </p>
    </div>

    <div>
        <time class="date"> <span class="dateTitle"> Date :</span> {{crimeScene.date}} </time>
    </div>
    <div> 
        <a class="editButton" href="/crimes/edit?id={{ crimeScene.id }}"> Edit </a>
    </div>

</section>
